.login{
    text-align: center;     
    &__box{
        border: 1px solid rgb(180, 180, 180);
        width: 25%;
        border-radius: 5px;
        margin: auto;
        background-color: #eeeeee;
        &__form{
            padding: 15px;
            h2{
                font-family: 'Roboto Slab';
                font-weight: 500;
                font-size: 20px;
                margin-top: 18px;
                margin-bottom: 20px;
                
            }
            &__title{
                border: 1px solid #dcdcdc;
                margin: auto;
                font-size: 14px;
                background-color: #F7F7F7;
                padding: 10px;
                text-align: left;
                border-radius: 5px;
            }
            &__detail{
                &__userpass{
                    border-radius: 5px;
                    margin-top: 10px;
                    width: 100%;
                    input{
                        margin-top: 4px;
                        border: 1px solid rgb(180, 180, 180);
                        border-radius: 5px;
                        width: 88%;
                    }
                }
                &__action{
                    margin-top: 10px;
                    button {
                        color: #fff;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        padding: 6px;
                        transition: all 0.3s ease;
                        outline: none;
                        font-size: 14px;
                        width: 40%;
                        background-color:  #5cb85c;
                        &:hover {
                            background-color: #2a772a;
                        }
                    }
                    
                }
            }
        }
    }
}