.takeTest {
  .audio {
    outline: none;
  }
  &__left {
    &__start {
      border: 1px solid #ccc;
      padding: 10px;
      &--title {
        color: #00a678;
        font-size: 21px;
        text-align: center;
      }
      &--time {
        color: red;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        margin-top: 10px;
      }
    }
    &__information {
      border: 1px solid #ccc;
      padding: 10px;
      color: #428bca;
      margin-top: 15px;
      &--title {
        color: #00a678;
        font-size: 21px;
        text-align: center;
      }
      div {
        padding-top: 10px;
        font-size: 21px;
      }
      label {
        font-weight: 600;
      }
    }
    &__action {
      border: 1px solid #ccc;
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 10px;
      margin-top: 15px;
      button {
        font-weight: 700;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.3s ease;
        outline: none;
      }
      &--save {
        background-color: #5cb85c;
        margin-right: 5px;
        &:hover {
          background-color: #2a772a;
        }
      }
      &--start {
        background-color: #428bca;
        &:hover {
          background-color: #1f5b8f;
        }
      }
      &--cancel {
        background-color: #ff0000;
        &:hover {
          background-color: #cf1b1b;
        }
      }
      &--submit {
        background-color: #5cb85c;
        margin-right: 5px;
        &:hover {
          background-color: #2a772a;
        }
      }
    }
    &__shear {
      text-align: center;
      border: 1px solid #ccc;
      text-align: center;
      padding: 10px;
      margin-top: 15px;
      p {
        color: #00a678;
        font-size: 21px;
        font-weight: 600;
      }
      div {
        margin: 40px 0px;
      }
      &--facebook {
        background-color: #3b5998;
        color: #fff;
        font-size: 35px;
        padding: 5px 18px;
        margin-right: 10px;
        border-radius: 50px;
        transition: all 0.3s ease;
        &:hover {
          background-color: #ccc;
        }
      }
      &--twitter {
        background-color: #33ccff;
        color: #fff;
        font-size: 35px;
        padding: 5px 12px;
        margin-right: 10px;
        border-radius: 50px;
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
  &__right{
    &__tutorial {
      &--title {
        height: 40px;
        line-height: 40px;
        background-color: #164670 ;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px 10px 0px 0px;
        padding-left: 10px;
      }
      &--content {
        border: 1px solid #ccc;
        border-radius: 0px 0px 10px 10px;
        padding: 20px 10px 10px 10px;
        border-top: none;
      }
    }
    &__question {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      &--numberQuestion {
        color: red;
        font-weight: 700;
      }

      &--question {
        margin-top: 10px;
        font-weight: 700;
        input {
          margin: 0px 10px;
          width: 70px;
          height: 25px;
          border: 1px solid #ccc;
          cursor: pointer;
        }
        .questionChangeSentence {
          width: 300px;
          height: 40px;
          margin-left: 0px;
        }
      }

      &--answer {
        margin-top: 20px;
        .item {
          margin-top: 20px;
        }
        .img {
          img {
            width: 150px;
            height: 130px;
          }
          input {
            width: 150px;
            margin-top: 15px;
          }
        }
        .read {
          margin-top: 15px;
          input {
            width: 350px;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
          }
        }
      }
      &--bold {
        font-size: 17px;
        font-weight: 800;
        color: red;
      }
    }
    &__listQuestion {
      text-align: center;
      margin-top: 20px;
      button {
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
}
